{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'skeleton.css' %}">
    <style>
        body {
            padding: 20px;
        }

        nav {
            text-align: right;
        }

        dd, dt {
            float: left
        }

        dd {
            width: 70%;
            clear: right;
        }

        dt {
            width: 20%;
            clear: left;
        }
        dl {
            overflow: auto;
        }
    </style>
</head>
<main>
    <nav>
        <a href="/repo">Repo</a> |
        <a href="/files">File history</a> |
        <a href="/">Commits</a> |
        <a href="/uploads">Add commit</a>
    </nav>
    {% block content %}{% endblock %}
</main>
</html>
