{% extends 'core/base.html' %}
{% block content %}
    <h2>Commits:</h2>

    {% for commit in commits %}
        <dl>
            <dt>Message</dt>
            <dd>{{ commit.message }}</dd>
            <dt>Commit ID</dt>
            <dd><b>{{ commit.id }}</b></dd>
            <dt>Time</dt>
            <dd>{{ commit.create_stamp }}</dd>
            <dt>Files added</dt>
            <dd>
                {% for file in commit.files.all %}{{ file.name }} <code>{{ file.hash }}</code><br>{% endfor %}
            </dd>
        </dl>
        <hr>
    {% endfor %}

{% endblock %}
