{% extends 'core/base.html' %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="id_message">Message:</label>
        <input type="text" name="message" required="" id="id_message"></p>
        <label for="id_files">Files:</label>
        <input type="file" name="files" multiple="" required="" id="id_files"></p>
    <input type="submit" value="Upload files">
</form>
{% endblock %}
