{% extends 'core/base.html' %}
{% block content %}
    <h2>File history</h2>
    {% regroup files_by_name by name as files_grouped_by_name %}
    <h4>Versions by commit</h4>
    {% for name, file_list in files_grouped_by_name %}
        <h5>{{ name }}</h5>

        {% for file in file_list %}
            <dl>
                <dt>Commit ID</dt>
                <dd><code>{{ file.commit.id }}</code></dd>
                <dt>Time</dt>
                <dd>{{ file.commit.create_stamp }}</dd>
                <dt>Size</dt>
                <dd>{{ file.file_pointer.file.size|filesizeformat }} ({{ file.file_pointer.file.size }} B)</dd>
            </dl>
            <hr>
        {% endfor %}
    {% endfor %}

    <h4>Versions by file content</h4>
    {% for name, file_list in files_grouped_by_name %}
        <h5>{{ name }}</h5>
        {% regroup file_list by hash as files_grouped_by_hash %}
        {% for hash, hash_file_list in files_grouped_by_hash %}
            <dl>
                <dt>File hash</dt>
                <dd><code>{{ hash_file_list.0.hash }}</code></dd>
                <dt>Time</dt>
                <dd>{{ hash_file_list.0.commit.create_stamp }}</dd>
                <dt>Size</dt>
                <dd>{{ hash_file_list.0.file_pointer.file.size|filesizeformat }} ({{ hash_file_list.0.file_pointer.file.size }} B)</dd>
            </dl>
        {% endfor %}
    {% endfor %}
{% endblock %}
