{% extends 'core/base.html' %}
{% block content %}
    <h2>Repo:</h2>

    {% for file in files %}
        <dl>
            <dt>Name</dt>
            <dd>{{ file.name }}</dd>
            <dt>File hash</dt>
            <dd><code>{{ file.hash }}</code></dd>
            <dt>Added in commit</dt>
            <dd>{{ file.commit.id }}</dd>
            <dt>Time</dt>
            <dd>{{ file.commit.create_stamp }}</dd>
            <dt>Size</dt>
            <dd>{{ file.file_pointer.file.size|filesizeformat }} ({{ file.file_pointer.file.size }} B)</dd>
        </dl>
        <hr>
    {% endfor %}

{% endblock %}
